[user]
	name = Juan Dls
	email = juanignaciodelossantos01@gmail.com
[init]
	defaultBranch = main
[pull]
	rebase = false
[color]
	ui = auto
[core]
	editor = code --wait
[includeIf "gitdir:~/code/side-projects/"]
	path = ~/.gitconfig-personal
[includeIf "gitdir:~/code/freelance/"]
	path = ~/.gitconfig-personal
[includeIf "gitdir:~/code/geoactio/"]
	path = ~/.gitconfig-geoactio
